body::-webkit-scrollbar {
	display: none;
}

nav {
	text-align: right;
}

nav select {
	background: #e0dfdf;
	padding: 5px;
	height: 30px;
}

.search_btn {
	padding: 5px;
	background: #2461ab;
	color: white;
	border: none;
	cursor: pointer;
	height: 30px;
}

.add {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

#columns {
	min-height: 348px;
}

.link-container {
	text-align: center;
}

.page-link {
	background: #e0dfdf;
	border: 1px solid #e0dfdf;
	padding: 5px;
	margin: 5px;
	text-decoration: none;
}

.disabled {
	background: #c8c8c8;
	border: 1px solid #c8c8c8;
}