#columns {
	column-width: 310px;
	column-gap: 15;
	/*img사이의 가로 간격 */
	margin: 20px;
	padding: 10px;
}

#columns figure {
	display: inline-block;
	margin: 0px;
	margin-bottom: 15px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#columns figure img {
	width: 300px;
	height: 300px;
}

#columns figure figcaption {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin-top: 11px;
}

/* detail modal */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 20px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	height: 523px;
	border-radius: 5px;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

.detail-image {
	float: left;
	width: 50%;
	height: 483px;
	padding: 20px;
}

.detail-info {
	float: left;
	padding: 20px;
	width: 50%;
	height: 446px;
	border-left: 1px solid #f1f1f1;
}

.detail-button {
	background: #e0dfdf;
    border: 1px solid #e0dfdf;
}