
summary {
    width: 100%;
    padding: 20px;
    padding-left: 25px;
    border-bottom: 1px solid #ccc;
}

summary:hover {
    color: #007bff;
}


details[open] > summary {
    color: #007bff;
}

details[open] > summary ~ * {
    animation: open 3s ease;
    padding: 10px;
}


@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}